<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Priority TODO</title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>    
        <div id="app">
          <!-- route outlet -->
          <!-- component matched by the route will render here -->
          <router-view></router-view>
          <div id="todo-list-example">
              <input
                v-model="newTodoText"
                v-on:keyup.enter="addNewTodo"
                placeholder="Add a todo"
              >
              <ul>
                <li
                  is="todo-item"
                  v-for="(todo, index) in todos"
                  v-bind:shit="todo"
                  v-on:remove="todos.splice(index, 1)"
                ></li>
              </ul>
            </div>
        </div>
    </body>
    <script>
        Vue.component('todo-item', {
          template: '\
            <li>\
              {{ shit }}\
              <button v-on:click="$emit(\'remove\')">X</button>\
            </li>\
          ',
          props: ['shit']
        })
        new Vue({
          el: '#todo-list-example',
          data: {
            newTodoText: '',
            todos: [
              'Do the dishes',
              'Take out the trash',
              'Mow the lawn'
            ]
          },
          methods: {
            addNewTodo: function () {
              this.todos.push(this.newTodoText)
              this.newTodoText = ''
            }
          }
        })

        // 0. If using a module system (e.g. via vue-cli), import Vue and VueRouter and then call Vue.use(VueRouter).
        
        const TodoList = { template: '<div>Todo List</div>'}

       
        const EditTodo = {
          props: ['id'],
          template: '<div>Edit Todo {{ id }}</div>' 
        }
        
        // 2. Define some routes
        // Each route should map to a component. The "component" can
        // either be an actual component constructor created via
        // Vue.extend(), or just a component options object.
        // We'll talk about nested routes later.
        const routes = [
          { path: '/', component: TodoList },
          { path: '/todo', component: EditTodo },
          { path: '/todo/:id', component: EditTodo, props: true }
        ]
        
        // 3. Create the router instance and pass the `routes` option
        // You can pass in additional options here, but let's
        // keep it simple for now.
        const router = new VueRouter({
          routes // short for routes: routes
        })
        
        // 4. Create and mount the root instance.
        // Make sure to inject the router with the router option to make the
        // whole app router-aware.
        // const app = new Vue({
        //   router
        // }).$mount('#app')
        
        // const app = new Vue({
        //     el: '#app',
        //     data: {
        //       todos: [
        //       	{ text: 'Test2', priority: 'low-priority' },
        //       	{ text: 'Test', priority: 'high-priority' },
        //       	{ text: 'Test2', priority: 'low-priority' },
        //       	{ text: 'Test2', priority: 'low-priority' },
        //       	{ text: 'Test2', priority: 'low-priority' },
        //       	{ text: 'Test2', priority: 'low-priority' },
        //       ]
        //     },
        //     router: router
        // });
        // router.push('bar');
        
    </script>
</html>